.header {
  background-image: linear-gradient(to bottom right, #094679, #0088ff);
  color: white;
  font-size: 36px;
  font-weight: 700;
  height: max-content;

  .headerText {
    margin-left: 10px;
  }
}
